/ParcelEnterpriceApplication/nbproject/private/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-war/nbproject/private/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-ejb/nbproject/private/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-ejb/build/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-war/build/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-ejb/dist/
/ParcelEnterpriceApplication/build/
/ParcelEnterpriceApplication/ParcelEnterpriceApplication-war/dist/
/ParcelEnterpriceApplication/dist/