/ParcelEnterpriseApplication/nbproject/private/
/ParcelEnterpriseApplication/ParcelEnterpriseApplication-war/nbproject/private/
/ParcelEnterpriseApplication/ParcelEnterpriseApplication-ejb/nbproject/private/
/ParcelEnterpriseApplication/ParcelEnterpriseApplication-ejb/build/
/ParcelEnterpriseApplication/ParcelEnterpriseApplication-ejb/dist/